:root {
    --orange-peel: rgb(254, 157, 11);
    --smoky-black: #0b0500ff;
    --baby-powder: #fdfffcff;
}
*{
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

/* body{
    background-image: linear-gradient(to bottom, #fe9d0b, #fcddae, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    font-family: 'formularMedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
} */

header nav{
    width: 100%;
    height: 2rem;
}

nav ul{
    width: 100%;
    margin: 1rem 5%;
}

nav ul li{
    list-style-type: none;
    display: inline;
    float: right;
    margin: 10px;
    padding: 5px;
}

nav li a:hover{
    font-size: 1.5rem;
    margin: 10px;
    
}

nav li a{
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease;
}

body .main{
    font-weight: 200;
    width: 80%;
    text-align: justify;
    margin: 120px 100px;
    padding: 30px;
    /* border: 0.1px solid grey; */
    display: flex;
    flex-wrap: wrap;
}

.main .content{
    width: 500px;
    padding: 30px;
    margin-top: 3rem;
}

.main .image{
    margin: 0 20px;
    padding: 80px;
    position: relative;
    left: 100px;
    top: 50px;
}

.content h1{
    font-weight: 800;
    font-size: 50px;
    margin: 0;
}

.content span{
    font-size: 1.25rem;
    margin: 20px 5px;
}

.content p{
    font-weight: 200;
    margin: 20px 0;
}

p{
    line-height: 30px;
}

img{
    height: 300px;
    width: auto;
}

.main .btn, #connect .btn{
    border-style: none;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 0.75rem;
    background-color: #fe9d0bff;
    color: white;
}

.heading-proj{
    width: 100%;
    margin: 3rem 0;
    text-align: center;
}

#projects h1, #skills h1{
    font-size: 3rem;
    font-weight: 800;
    margin: 10px;
}

#projects hr, #skills hr{
    width: 30%;
    margin: 10 auto;
}

#projects .container{
    margin: 0 4rem 4rem 4rem ;
    padding: 50px;
    display: flex; /* Use flex display for layout */
    flex-wrap: wrap;
    justify-content: space-between; /* Added for spacing between cards */
}

#projects .card{
    width: 200px;
    margin: 0px;
    padding: 20px;
    /* border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    flex-wrap: wrap;
    justify-content: space-between;
    color: #0b0500ff;
    text-decoration: none;
}

/* #projects .card:hover {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #0b0500ff;
    text-decoration: none;
} */

#projects .card img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit:fill;
}

#projects .card h3{
    margin: 0.5rem 0;
}

#projects .card .proj-desc{
    font-size: 0.8rem;
}

#projects a{
    text-decoration: none;
    color: #0b0500ff;
}

#projects .btn{
    border-style: none;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 0.75rem;
    background-color: #fe9d0bff;
    color: white;
    margin: 1rem 43%;
}

#skills .container{
    margin: 0 20% 4rem 20%;
    padding: 20px;
    display: flex; /* Use flex display for layout */
    flex-wrap: wrap;
    justify-content: space-between; /* Added for spacing between cards */
}

#skills .cards{
    margin: 10px 30px;
    text-align: center;
    color: #0b0500ff;
}

#skills .cards i{
    font-size: 4rem;
}

#connect h1{
    font-size: 3rem;
    font-weight: 800;
    margin: 10px;
    text-align: left;
    margin: 20px;
    padding: 20px;
}

#connect{
    margin: 100px 100px 0px 100px;
    display: flex;
}

#connect .text{
    width: 450px;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    line-height: 1.75rem;
}

#connect .btn{
    margin: 30px 0px;
}

#connect .btn a{
    color: #ffffff;
}

footer{
    margin: 0px 100px 20px 0px;
    padding: 0 0 20px 0;
    float: right;
}
footer i{
    font-size: 2.5rem;
    padding: 20px;
    color: #0b0500ff;
}

.btn:hover {
    background-color: rgb(252, 182, 75);
    transform: scale(1.05);
}
  
.btn:hover {
    background-color: rgb(252, 182, 75);
    transform: scale(1.05);
  }
  
  footer i:hover {
    color: var(--orange-peel);
  }  
  

.btn:hover, #connect .btn:hover, #projects .btn:hover{
    background-color: rgb(252, 182, 75);
}

@media (max-width: 768px) {
    .main {
      flex-direction: column;
      align-items: center;
    }
  
    .main .content, .main .image {
      width: 100%;
      margin: 0;
      padding: 10px;
    }
  
    #projects .container, #skills .container {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      float: none;
      display: block;
      text-align: center;
    }
  }
  
  @media (max-width: 768px) {
    .main {
      flex-direction: column;
      align-items: center;
    }
  
    .main .content, .main .image {
      width: 100%;
      margin: 0;
      padding: 10px;
    }
  
    #projects .container, #skills .container {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      float: none;
      display: block;
      text-align: center;
    }
  }
  

/* ========PROJECTS PAGE========= */

*{
    font-family: 'formularMedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}